<section class="tw-flex tw-w-screen tw-max-w-full tw-justify-end tw-overflow-hidden tw-border-b tw-border-border-primary">
  <div class="tw-flex tw-w-[200vw]">
    <div class="tw-flex tw-w-screen tw-animate-marquee2 tw-items-center tw-justify-around tw-py-4">
      <div class="tw-flex tw-items-center tw-justify-center tw-px-4">
        <h1 class="tw-text-md tw-font-bold md:tw-text-lg">Relume Library</h1>
      </div>
      <div class="tw-flex tw-items-center tw-justify-center tw-px-4">
        <h1 class="tw-text-md tw-font-bold md:tw-text-lg">Relume Library</h1>
      </div>
      <div class="tw-hidden lg:tw-flex tw-items-center tw-justify-center tw-px-4">
        <h1 class="tw-text-md tw-font-bold md:tw-text-lg">Relume Library</h1>
      </div>
      <div class="tw-hidden lg:tw-flex tw-items-center tw-justify-center tw-px-4">
        <h1 class="tw-text-md tw-font-bold md:tw-text-lg">Relume Library</h1>
      </div>
      <div class="tw-hidden md:tw-flex tw-items-center tw-justify-center tw-px-4">
        <h1 class="tw-text-md tw-font-bold md:tw-text-lg">Relume Library</h1>
      </div>
    </div>
    <div class="tw-flex tw-w-screen tw-animate-marquee2 tw-items-center tw-justify-around tw-py-4">
      <div class="tw-flex tw-items-center tw-justify-center tw-px-4">
        <h1 class="tw-text-md tw-font-bold md:tw-text-lg">Relume Library</h1>
      </div>
      <div class="tw-flex tw-items-center tw-justify-center tw-px-4">
        <h1 class="tw-text-md tw-font-bold md:tw-text-lg">Relume Library</h1>
      </div>
      <div class="tw-hidden lg:tw-flex tw-items-center tw-justify-center tw-px-4">
        <h1 class="tw-text-md tw-font-bold md:tw-text-lg">Relume Library</h1>
      </div>
      <div class="tw-hidden lg:tw-flex tw-items-center tw-justify-center tw-px-4">
        <h1 class="tw-text-md tw-font-bold md:tw-text-lg">Relume Library</h1>
      </div>
      <div class="tw-hidden md:tw-flex tw-items-center tw-justify-center tw-px-4">
        <h1 class="tw-text-md tw-font-bold md:tw-text-lg">Relume Library</h1>
      </div>
    </div>
  </div>
</section>


{% schema %}
{
    "name": "TW - Marquee banner",
    "settings": [
    
    ],
    "presets": [
        {
            "name": "TW - Marquee banner"
        }
    ]
}
{% endschema %}